@font-face {
  font-family: 'TTLakesBold';
  src: url('../fonts/TTLakesBold.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;

}

@font-face  {
  font-family: 'TTLakesMedium';
  src: url('../fonts/TTLakesMedium.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;

}
@font-face  {
  font-family: 'TTLakesRegular';
  src: url('../fonts/TTLakesRegular.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;

}
@font-face  {
  font-family: 'TTLakesExtraBold';
  src: url('../fonts/TTLakesExtraBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;

}

