@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin left-right-0 {
  left: 0;
  right: 0;
}
@mixin service-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;

}
@mixin about-flex-column {
  display: flex;
  flex-direction: column;
 
}

@mixin aside-flex-column {
  display: flex;
  flex-direction: column;
 
}

@mixin footer-flex-center-row {
   display: flex;
    align-content: center;
    text-align: center;
    flex-direction: row;
}