
@use '../base/colors' as *;
@use '../base/fonts' as *;
@use '../base/mixins' as *;
@use '../base/variables' as *;

/* ================= SIDEBAR ================= */

.aside {
  position: fixed;
  @include left-right-0;

  width: clamp(280px, 85vw, 360px);
  height: 100%;
  z-index: 9999;
  padding: 20px 16px;
  background: $bgMenuColor;
  letter-spacing: -0.2px;

  font-family: 'TTLakesMedium';
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  box-shadow:
    16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  z-index: 1000;

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &.open {
    transform: translateX(0);
  }
}
.aside__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  min-width: 0;

  li:first-child {
    position: relative;
    flex-shrink: 0;
  }
  .icon-close {
    position: absolute;
    top: 12px;
    left: 11px;
  }
}

.aside__item--search {
  margin-left: auto;
  flex-shrink: 0;
}

.aside__item--logo {
  flex-shrink: 0;
}

.aside__menu {
  width: 100%;
  color: $asideTextColor;

  .menu__list {
    @include aside-flex-column;
    gap: 32px;
    padding-top: 26px;

    li {
      color: $asideTextColor;
      cursor: pointer;
      transition: color 0.2s;
      &:first-child {
        color: $text;
      }

      &:hover {
        color: $text;
      }
    }
  }
}

.aside__highlight {
  width: 4px;
  height: 32px;
  background-color: $highlight;
  position: absolute;
  left: 1px;
  top: 95px;
  border-radius: 0 10px 10px 0;
  z-index: 10;
  opacity: 1;
}

.aside__contacts {
  padding-top: 20px;
  margin-top: auto;
  display: flex;
  gap: 16px;
}

.contact__info a {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 12px;
  color: $asideTextColor;
  font-style: normal;
  text-decoration: none;
}
.contact__phone {
  font-family: 'TTLakesExtraBold';
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.6px;
}

.lang-switcher {
  margin-top: 40px;
  width: 87px;

  &__btn {
    border: none;
    cursor: pointer;
    background-color: $bgColor;
    display: inline-block;
    margin-left: 5px;
    font-weight: 500;
    &:hover {
      color: $text;
    }
  }

  .lang-switcher__btn--active {
    color: $text;
  }
}

@media (min-width: 768px) {

  .aside {
    width: 320px;

    box-shadow:
      16px 0px 52px 0px rgba(14, 24, 80, 0.2),
      -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }

  
}



@media (min-width: 1120px) {
 .aside {
    position: fixed;
    @include left-right-0;
    max-width: 280px;
    height: 100%;
    overflow: hidden;
    box-shadow: none;
    transform: none;
    padding-top: 30px;
    overflow-y: auto;

    .aside__header {
      width: 280px;
    }
    .aside__item--search {
      margin-right: 30px;
    }
    .aside__item--close {
      display: none;
    }
  }
  .aside__highlight {
    left: 1px;
    top: 105px;
  }

  .container {
    position: relative;
    margin-left: 280px;
    padding-right: 0;
    padding-top: 0;
    width: calc(100% - 280px);
    box-sizing: border-box;
    overflow: visible;
  }



}