
@use '../base/colors' as *;
@use '../base/fonts' as *;
@use '../base/mixins' as *;
@use '../base/variables' as *;
.services__container {
  position: relative;
  @include left-right-0;
  width: 100%;
  padding: 0 16px;
}

.highlight {
  width: 4px;
  height: 35px;
  background-color: $highlight;
  position: absolute;
  left: 0px;
  top: 15px;
  border-radius: 0 10px 10px 0;
}

.services__title {
  font-size: 28px;
  letter-spacing: -0.6px;
  font-family: 'TTLakesBold';
  font-weight: 700;
  color: $aboutColor;

  padding-top: $serviced-padding-top;
}

.services__list {
  padding-top: $serviced-padding-top;
  display: flex;
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  gap: 40px;
}
.services__item {
  flex-shrink: 0;
  height: 40px;
  color: $text;
  font-weight: 500;
  @include service-item-flex;
}

.services__list li:first-child {
  width: 245px;
  border: 2px solid $swiperBoxColor;
  background-color: $bgMenuColor;
  border-radius: 6px;
}

@media (min-width: 768px) {

  .services__container {
    padding-left: 24px;

    &__list {
      gap: 30px;
    }
  }
}

@media (min-width: 1120px) {
  .services {
    &__container {
      position: relative;
      top: -40px;

      width: 100%;
      padding-left: 32px;
    }

    .highlight {
      width: 4px;
      height: 35px;
      background-color: $highlight;
      position: absolute;
      right: 50px;
      top: -2px;

      border-radius: 0 10px 10px 0;
      opacity: 1;
      z-index: 10;
    }
    &__title {
      position: relative;
      top: -15px;
    }
    &__list {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;

      gap: 10px;
      padding-bottom: 20px;
    }

    &__item {
      word-break: break-word;

      overflow-wrap: break-word;
      padding: 5px 12px;
    }
  }

}