$bgMenuColor: rgba(255, 255, 255, 1);
$bgColor:rgba(248, 248, 248, 1);
$text: rgba(126, 126, 130, 1);
$swiperBoxColor: rgba(184, 255, 236, 1);
$dividerColor: rgba(217, 255, 245, 1);
$highlight: rgba(65, 246, 215, 1);


$asideTextColor: rgba(27, 28, 33, 1);
