@font-face {
  font-family: 'TTLakesNeueTrialBold';
  src: url('../fonts/TT Lakes Neue Trial Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}

@font-face  {
  font-family: 'TTLakesNeueTrialMedium';
  src: url('../fonts/TT Lakes Neue Trial Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}
