// base
@use './base/base' as *;
@use './base/colors' as *;
@use './base/fonts' as *;
@use './base/mixins' as *;
@use './base/variables' as *;

//components

@use './components/swiper';


//layout
@use './layout/main';
@use './layout/grids';
@use './layout/header';
@use './layout/footer';
@use './layout/aside';
@use './layout/services';
@use './layout/price';

//page
@use './pages/about';

