@use 'colors' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'fonts' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: 'TTLakesNeueTrialMedium';
  color: $text;
  line-height: 20px;
}

.container {
  @include flex-wrap;
  width: 100%;
  max-width: 100%;

  background: $bgColor;
  padding-right: 16px;

  margin-left: 0;
}
/* ================= HEADER================= */
.header__inner,
.main__menu,
.about__text {
  max-width: 100%;
  width: 100vw;
}

.header__inner {
  position: relative;
  @include left-right-0;
  width: 100vw;
  // width: 100%;

  background: $bgMenuColor;
  height: $header-height;
  padding: $header-padding;
  @include display-flex;
}

/* ================= hamburger-button ================= */

.header__left-icons {
  position: relative;

  .header__hamburger {
    border: none;
    background: transparent;
    padding-bottom: 5px;
  }

  .header__hamburger-box {
    padding-bottom: 5px;
  }

  .header__hamburger-button {
    position: absolute;
    left: 10px;
    top: 20px;
  }
}

.header__logo {
  width: 96px;
  height: $logo-height;
  margin-left: 5px;
  margin-bottom: -20px;
}

.divider {
  &--burger,
  &--setting {
    display: none;
  }
  &--logo {
    position: relative;
    top: -5px;
    left: 15px;
    height: 32px;
    color: rgba(234, 234, 234, 1);
    border-radius: 1px;
    opacity: 1;
  }
}

.header__menu {
  margin-right: 10px;
  @include display-flex;
  gap: 16px;

  .header__icons {
    display: none;
  }
}

.header__list {
  display: flex;
  gap: 10px;

  span {
    display: none;
  }
}

/* ================= SIDEBAR ================= */
/*main {
  flex: 1;
}*/
.aside {
  position: fixed;
  @include left-right-0;

  width: clamp(280px, 85vw, 360px);
  height: 100vh;
  padding: 20px 16px;
  background: $bgMenuColor;
  letter-spacing: -0.2px;
  font-weight: 500;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  z-index: 1000;

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &.open {
    transform: translateX(0);
  }
}
.aside__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  min-width: 0;

  li:first-child {
    position: relative;
    flex-shrink: 0;
  }
  .icon-close {
    position: absolute;
    top: 12px;
    left: 11px;
  }
}

.aside__item--search {
  margin-left: auto;
  flex-shrink: 0;
}

.aside__item--logo {
  flex-shrink: 0;
}

.aside__highlight {
  width: 4px;
  height: 32px;
  background-color: $highlight;
  position: relative;
  right: 24.5px;
  top: 50px;
  border-radius: 0 10px 10px 0;
}

.aside__menu {
  width: 100%;
  color: $asideTextColor;

  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 26px;

    li {
      color: $asideTextColor;
      cursor: pointer;
      transition: color 0.2s;
      &:first-child {
        color: $text;
      }

      &:hover {
        color: $text;
      }
    }
  }
}

.aside__contacts {
  padding-top: 20px;
  margin-top: auto;
  display: flex;
  gap: 16px;
}

.contact__info a {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 12px;
  color: $asideTextColor;
  font-style: normal;
  text-decoration: none;

  .contact__phone {
    font-family: 'TTLakesNeueTrialExtraBold';
    font-size: 24px;
  }
}

.lang-switcher {
  margin-top: 40px;
  width: 87px;

  &__btn {
    border: none;
    cursor: pointer;
    background-color: #fff;
    display: inline-block;
    margin-left: 5px;
    font-weight: 500;
    &:hover {
      color: $text;
    }
  }

  .lang-switcher__btn--active {
    color: $text;
  }
}

/* ================= MAIN ================= */

.services__container {
  position: relative;
  @include left-right-0;
  width: 100vw;
  padding: 0 16px;
}

.highlight {
  width: 4px;
  height: 35px;
  background-color: $highlight;
  /*position: absolute;*/
  position: fixed;
  left: 0px;
  top: 102px;
  border-radius: 0 10px 10px 0;
}

.services__title {
  font-size: 28px;
  letter-spacing: -0.6px;
  font-family: 'TTLakesNeueTrialBold';
  color: #1b1c21;
  padding-top: $serviced-padding-top;
}

.services__list {
  padding-top: $serviced-padding-top;
  display: flex;
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  gap: 40px;
}
.services__item {
  flex-shrink: 0;
  height: 40px;
  color: $text;
  @include service-item-flex;
}

.services__list li:first-child {
  width: 245px;
  border: 2px solid $swiperBoxColor;
  background-color: $bgMenuColor;
  border-radius: 6px;
}
/* ================= ABOUT ================= */
.about {
  @include about-flex-column;
  gap: 5px;
  padding-top: 24px;

  &__text {
    /*width: 100%;*/
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding-left: 16px;

    span {
      display: none;
    }
    &__paragraph-one {
      display: block;
      width: 100%;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  &__paragraph-two {
    display: none;
  }
}

.about__read-more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin-top: 16px;
  margin-bottom: 16px;
}

.about__media {
  width: 100%;
  height: auto;
  max-width: 360px;
  flex-shrink: 0;
  padding-right: 30px;
}
.about__img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
}

.about__read-more {
  img {
    margin-right: 10px;
  }
  span {
    display: contents;
  }
}
/* ================= SWIPER-CONTENT-1================= */
.swiper__content {
  margin-top: 24px;
  height: auto;
  width: 100%;
}
h3 {
  min-width: auto;

  padding: 1em 1em;
  font-size: 16px;
  text-transform: uppercase;
  color: $text;
  font-family: 'TTLakesNeueTrialExtraLight';
  letter-spacing: -0.2px;

  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  background: linear-gradient(to left, $bgMenuColor, $bgColor);
  border-top: 2px solid rgba(217, 255, 245, 1);
}

.mobile-swiper {
  position: relative;
  padding-bottom: 24px; //?
  padding-left: 16px; /// ?
  padding-top: 16px; ///?
  overflow: visible; //?
}
.mobile-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 16px;
  width: 240px;
  height: 72px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}
/*.mobile-swiper .swiper-slide:first-child {
  margin-left: 16px;
}*/
.content-card,
.hide-tablet,
.hide-desktop {
  display: none;
}

.swiper-pagination {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px;

  opacity: 1;
  background: rgb(162, 27, 27);
}

.swiper-pagination-bullet-active {
  background: teal;
}
.see-more-btn {
  display: none;
}

.swiper-tech .swiper-wrapper {
  display: flex;
}
//-----swiper-2------
.tech-content {
  padding-top: 24px;
  padding-left: 16px;
  padding-bottom: 20px;
}

.swiper-tech .swiper-slide {
  width: 240px;
  height: 160px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: $bgMenuColor;

  position: relative;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.swiper-tech .swiper-slide a img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: auto;
}

.tech-grid {
  display: none;
}
.see-more-btn-tech {
  display: none;
}
//-----swiper-3------

.price-content {
  padding-bottom: 50px;
  padding-left: 16px;
}

.swiper-price {
  display: block;
  flex-wrap: nowrap;
}
.swiper-price .price-card {
  display: flex;
  gap: 16px;
  width: 260px;
  height: 200px;
  border: 1px solid $bgMenuColor;
  border-radius: 6px;
  background: $bgMenuColor;
}

.price-card {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.btn__price-card {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 120px;
  height: 32px;
  border: none;
  border-radius: 16px;
  background-color: rgba(255, 62, 121, 1);
}
.price-card__row h4 {
  font-weight: 500;
  color: $text;
  font-size: 14px;
}
.price-card__row p {
  font-size: 14px;
  color: $asideTextColor;
}

.btn__price-card span {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.btn__price-card img {
  margin-left: 8px;
}
.price-table {
  display: none;
}
/* ================= TABLET ================= */
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    position: relative;
    @include left-right-0;

    padding-right: 24px;
  }

  .header__menu {
    .header__menu-icons {
      @include display-flex;
      gap: 16px;
    }
  }

  .header__menu-icon {
    display: block;
  }
  .header__left-icons {
    display: flex;
    gap: 15px;

    .header__hamburger-button {
      position: absolute;
      left: 10px;
      top: 15px;
    }
  }

  .aside {
    width: 320px;

    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  }

  .divider {
    &--logo {
      display: none;
    }
    &--burger {
      display: inline-flex;
      position: relative;
      top: 10px;
      left: 5px;
      height: 32px;
      color: #eaeaea;
      border-radius: 1px;
      opacity: 1;
    }
    &--setting {
      display: block;
      position: relative;
      margin-right: 20px;
    }
  }
  .services__list {
    gap: 30px;
  }

  .about {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 0;

    &__text {
      flex: 1;
      width: 100%;

      span {
        display: none;
      }
    }
    &__paragraph-two {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 10px;
    }
  }

  .about__read-more {
    img {
      margin-right: 10px;
    }
    span {
      display: contents;
    }
  }

  .about__media {
    max-width: 360px;

    .about__img {
      width: auto;
      height: auto;
      padding-right: 50px;
    }
  }
  //------swiper-1------
  h3 {
    width: 100%;
    padding: 16px 14px;
  }
  .mobile-swiper {
    display: none;
  }

  .hide-tablet {
    display: none;
  }
  .desktop-grid {
    display: none;
  }
  .tablet-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    gap: 24px;
    padding-left: 14px;
  }
  .content-card,
  .hide-desktop {
    min-width: 224px;

    height: 72px;
    margin: 0 auto;

    background: #fff;
    border-radius: 5px;
    border: 1px solid #eaeaea;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  .hide-tablet {
    display: none;
  }

  .swiper__content {
    height: auto;
  }

  .see-more-btn {
    padding-left: 35px;
    display: flex;
    align-content: center;
    gap: 10px;
  }
  button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  }
  #toggleBtn span {
    font-family: 'TTLakesNeueTrialMedium';
    color: rgba(27, 28, 33, 1);
    font-weight: 500;
  }
  .see-more-btn {
    padding-top: 24px;
  }
  .see-more-btn img {
    transition: transform 0.3s ease;
  }
  .see-more-btn img.rotated {
    transform: rotate(180deg);
  }
  .force-show {
    display: flex;
  }
  //-------------swiper2-------
  .swiper-tech {
    display: none;
  }
  .tech-grid {
    display: grid;
    /* grid-template-columns: repeat(4, auto);*/
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: start;
    padding-left: 14px;
    padding-right: 14px;
  }

  .tech-card {
    min-width: 224px;
    position: relative;
    height: 160px;
    padding: 12px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    box-sizing: border-box;
  }

  .tech-card a {
    position: absolute;
    right: 12px;
    bottom: 12px;
  }

  .hide-tech {
    display: none;
  }

  .force-show {
    display: block;
  }
  .see-more-btn-tech {
    padding-top: 24px;
  }
  .see-more-btn-tech img {
    transition: transform 0.3s ease;
  }

  .see-more-btn-tech img.rotated {
    transform: rotate(180deg);
  }
    //-------------swiper3-------

  .price-content{
    display: none;
  }


.price-table {
  display: flex;
  align-content: center;
  width: 720px;
  height: 355px;
  
}



}

/* ================= DESK ================= */
@media (min-width: 1120px) {
  .page {
    display: flex;
    width: 100%;

    overflow: hidden;
  }
  .about__text,
  .header__inner,
  .main__menu {
    width: auto;
  }

  .header__icons,
  .header__left-icons,
  .header__menu-icon {
    display: none;
  }

  .header {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 24px;
  }
  .header__inner {
    background-color: $bgColor;
    margin-left: auto;
    padding-right: 230px;
    padding-top: 42px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
  }

  .services__title {
    padding-top: 20px;
  }

  .header__list {
    span {
      display: inline-block;
      margin-top: 10px;
      color: #1b1c21;
    }
    .divider--setting {
      display: none;
    }
  }
  /*body,
  html {
    height: 100%;
    margin: 0;
  }*/

  .aside {
    position: fixed;
    @include left-right-0;
    max-width: 280px;
    height: 100vh;
    overflow: hidden;
    box-shadow: none;
    transform: none;

    .aside__header {
      width: 280px;
    }
    .aside__item--search {
      margin-right: 20px;
    }
  }

  .container {
    /*padding-left: 32px;
    position: fixed;
    flex: 1;
    overflow-x: visible;
    margin-left: 280px;*/
    position: relative; /* ✅ */
    margin-left: 280px;
    padding-left: 32px;

    width: calc(100% - 280px); /* 🔥 КЛЮЧ */
    box-sizing: border-box;

    overflow: visible;
  }
  /*main {
    max-width: 1000px;
  }*/
  .services {
    &__container {
      position: relative;
      top: -50px;
      /* padding-right: 16px;*/
    }

    .highlight {
      width: 4px;
      height: 35px;
      background-color: $highlight;
      position: absolute;
      left: 0px;
      top: 40px;
      position: fixed;
      border-radius: 0 10px 10px 0;
    }
    &__title {
      position: relative;
      top: -10px;
    }
    &__list {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding-bottom: 20px;
    }

    &__item {
      word-break: break-word;
      overflow-wrap: break-word;
      padding: 5px 12px;
    }
  }

  .about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    padding: 10px 0;
    padding-right: 100px;
    margin-top: -60px;

    &__text {
      width: 100%;
      min-width: 0;
      flex-shrink: 1;
    }

    span {
      display: block;
      font-size: 16px;
      /* position: relative;
      left: 20px;*/
      color: $text;
      margin-left: 20px;
    }

    p {
      display: inline-grid;
      min-width: 0;
      word-wrap: break-word;
      word-break: break-word;
    }
    &__paragraph-one {
      margin-top: -30px;
    }

    &__paragraph-two {
      margin-top: 20px;
    }

    &__read-more span {
      color: #1b1c21;
    }
  }
  .about__media {
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 0;
    /* display: block;*/

    .about__img {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  //-------swiper-1-------
  h3 {
    padding: 15px 0;
  }
  .tablet-grid {
    display: none;
  }
  .desktop-grid {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: start;
    gap: 32px;
  }

  .content-card,
  .hide-tablet {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 0 16px;

    width: 100%;
    height: 72px;
    margin: 0 auto;

    background: #fff;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
  }
  .hide-desktop {
    display: none;
  }

  .swiper-slide,
  .mobile-swiper {
    display: none;
  }

  .see-more-btn {
    padding-left: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: padding-top 0.3s ease;
  }

  .see-more-btn.open {
    padding-top: 22px;
  }
  .see-more-btn img {
    transition: transform 0.3s ease;
  }
  .see-more-btn img.rotated {
    transform: rotate(180deg);
  }

  button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  }
  #toggleBtn span {
    font-family: 'TTLakesNeueTrialMedium';
    color: rgba(27, 28, 33, 1);
    font-weight: 500;
  }
  .see-more-btn img {
    transition: transform 0.3s ease;
  }
  .see-more-btn img.rotated {
    transform: rotate(180deg);
  }
  .force-show {
    display: block;
  }

  ///-----swiper2------------------------------------

  h3 {
    padding: 15px 0;
  }
  .tech-grid {
    display: grid;
    /* grid-template-columns: repeat(4, auto);*/
    grid-template-columns: repeat(4, 240px);
    gap: 32px;
    justify-content: start;
  }
  .hide-tech {
    display: block;
  }
  .hide-desk-tech {
    display: none;
  }
  .force-show {
    display: block;
  }
  .see-more-btn-tech img {
    transition: transform 0.3s ease;
  }

  .see-more-btn-tech img.rotated {
    transform: rotate(180deg);
  }
}
